/* Register the Ubuntu-Bold font */
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Register the Ubuntu-BoldItalic font */
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Register the Ubuntu-Italic font */
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Register the Ubuntu-Light font */
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

/* Register the Ubuntu-LightItalic font */
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}

/* Register the Ubuntu-Medium font */
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Register the Ubuntu-MediumItalic font */
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Register the Ubuntu-Regular font */
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'DistantGalaxy';
  src: url('/fonts/DistantGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html, body {
	font-family: Ubuntu, sans-serif;
	height: 100%;
	margin: auto;
	padding: 0;
	max-width: 100ch;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	color: #222;
}
a {
	color: #3273dc;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
