---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
	<div class="container mx-auto prose">
		<h1 class="my-2">Studying Islam.</h1>
		<figcaption class="max-w-lg">
			A learning project, aiming to provide a comprehensive
			resource for anyone seeking to explore and understand
			the teachings and principles of Islam.
		</figcaption>
		<figcaption class="italic">
			Seeking knowledge is obligatory upon every Muslim - Prophet Muhammad (pbuh).
		</figcaption>
	</div>
</Layout>

