---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
	<div class="bg-black">
		<div class="container mx-auto px-4 flex flex-row max-[640px]:flex-col items-center">
			<div class="image">
				<img class="object-scale-down w-96" src="islamic-dp.jpeg"/>
			</div>
			<div class="max-w-md flex flex-col prose">
				<h1 class="my-1 max-[460px]:text-center text-lime-200 text-[2.8rem]">Studying Islam.</h1>
				<figcaption class="max-w-lg text-gray-400 mb-0">
					A learning project, aiming to provide a comprehensive
					resource for anyone seeking to explore and understand
					the teachings and principles of Islam.
				</figcaption>
				<figcaption class="italic mt-2 text-lime-300">
					Seeking knowledge is obligatory upon every Muslim - Prophet Muhammad (pbuh).
				</figcation>
			</div>
		</div>
	</div>
	<div class="h-16 bg-gradient-to-b from-black to-gray-700"></div>
	<div class="container px-4 ">
		<div class="prose mx-auto mt-[-45px] px-8 py-4 bg-white">
			<h2 class="my-2 max-[460px]:text-center">What is Islam?</h2>
			<blockquote>Islam means submission to the will of Allah in all aspects.</blockquote>
			<p class="text-stone-500">
				Islam is a faith and comprehensive way of life that
				literally means ‘peace through submission to God.’
				It provides a clear understanding of a person’s
				relationship with God, purpose in life,
				and ultimate destiny.
			</p>
			<a class="px-6 text-xs py-1 bg-slate-300 no-prose rounded no-underline" href="/articles/islam">Read more</a>
		</div>

		<div class="prose mx-auto my-6">
			<h2 class="my-2 max-[460px]:text-center">Key Concepts</h2>
			<ul>
				<li><span class="text-indigo-700 font-bold text-xl cursor-pointer">Allah ﷺ
					</span>
					<p>
						Allah is the Arabic word for God (the creator), and it is the primary name for the Supreme Being in the Islamic faith.
						Also for its linguistic significance: The word "Allah" is grammatically unique in Arabic and does not have a plural form. It does not have a gender, and it is not preceded by the definite article "Al-" in its basic form. This linguistic structure emphasizes the oneness and singularity of God.
					</p>
				</li>
				<li><span class="text-indigo-700 font-bold text-xl cursor-pointer">The Noble Quran
					</span>
					<p>
						The Quran is the sacred scripture of Islam, believed by Muslims to be the word of God as revealed to the Prophet Muhammad over 23 years.
						It is a comprehensive guide for spiritual, moral, and ethical living, addressing a wide range of topics from theology and jurisprudence to personal conduct and social justice.
						Meticulously preserved in its original form since its revelation over 1400 years ago, stands as a testament to its divine origin and serves as a timeless source of wisdom for generations to come.
					</p>
				</li>
				<li><span class="text-indigo-700 font-bold text-xl cursor-pointer">Muslim
					</span>
					<p>

A Muslim is someone who follows the Islamic faith, believing in the oneness of God (Allah) and the prophethood of Muhammad. Muslims strive to live according to the teachings of the Quran and the example set by the Prophet Muhammad, practicing rituals such as prayer, fasting during Ramadan, giving to charity, and performing the Hajj pilgrimage.
					</p>
				</li>
			</ul>
		</div>

		<div class="prose mx-auto my-6">
			<h2 class="my-2 max-[460px]:text-center">Five Pillars</h2>
			<ul>
				<li>Shahada (The Declaration of Faith)</li>
				<li>Salah (Prayer)</li>
				<li>Zakat (Obligatory Charity)</li>
				<li>Sawn (Fasting)</li>
				<li>Hajj (Pilgrimage)</li>
			</ul>
		</div>
	</div>
</Layout>

