---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
	<div class="bg-black">
		<div class="container mx-auto px-4 flex flex-row max-[640px]:flex-col items-center">
			<div class="image">
				<img class="object-scale-down w-96" src="islamic-dp.jpeg"/>
			</div>
			<div class="max-w-md flex flex-col prose">
				<h1 class="my-1 max-[460px]:text-center text-lime-200 text-[2.8rem]">Studying Islam.</h1>
				<figcaption class="max-w-lg text-gray-400 mb-0">
					A learning project, aiming to provide a comprehensive
					resource for anyone seeking to explore and understand
					the teachings and principles of Islam.
				</figcaption>
				<figcaption class="italic mt-2 text-lime-300">
					Seeking knowledge is obligatory upon every Muslim - Prophet Muhammad (pbuh).
				</figcation>
			</div>
		</div>
	</div>
	<div class="h-16 bg-gradient-to-b from-black to-slate-500"></div>
	<div class="container px-4">
		<div class="prose mx-auto my-8">
			<h2 class="my-2 max-[460px]:text-center">What is Islam?</h2>
			<blockquote>Islam means submission to the will of Allah in all aspects.</blockquote>
			<p class="text-stone-500">
				Islam is a faith and comprehensive way of life that
				literally means ‘peace through submission to God.’
				It provides a clear understanding of a person’s
				relationship with God, purpose in life,
				and ultimate destiny.
			</p>
		</div>

		<div class="prose mx-auto my-6">
			<h2 class="my-2 max-[460px]:text-center">Key Concepts</h2>
			<ul>
				<li>Allah ﷺ</li>
				<li>Glorious Quran</li>
				<li>Muslim</li>
			</ul>
		</div>

		<div class="prose mx-auto my-6">
			<h2 class="my-2 max-[460px]:text-center">Five Pillars</h2>
			<ul>
				<li>Shahada (Testimony of Faith)</li>
				<li>Salah</li>
				<li>Zakat</li>
				<li>Fasting</li>
				<li>Performing Hajj</li>
			</ul>
		</div>
	</div>
</Layout>

