---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
	<div class="container mx-auto px-4">
		<div class="prose max-w-none">
			<h1 class="my-2 max-[460px]:text-center">Studying Islam.</h1>
			<figcaption class="max-w-lg">
				A learning project, aiming to provide a comprehensive
				resource for anyone seeking to explore and understand
				the teachings and principles of Islam.
			</figcaption>
			<figcaption class="italic">
				Seeking knowledge is obligatory upon every Muslim - Prophet Muhammad (pbuh).
			</figcaption>
		</div>

		<div class="prose max-w-none my-6">
			<h2 class="my-2 max-[460px]:text-center">What is Islam?</h2>
			<p>
				Islam is a faith and comprehensive way of life that
				literally means ‘peace through submission to God.’
				It provides a clear understanding of a person’s
				relationship with God, purpose in life,
				and ultimate destiny.
			</p>
		</div>

		<div class="prose max-w-none my-6">
			<h2 class="my-2 max-[460px]:text-center">Key Concepts</h2>
			<ul>
				<li>Allah (SWT)</li>
				<li>Glorious Quran</li>
				<li>Muslim</li>
			</ul>
		</div>
	</div>
</Layout>

