---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
	<h1>Hello, World!</h1>
	<p>
		Welcome to the official blog starter template. This
		template serves as a lightweight, minimally-styled starting point for anyone looking to build
		a personal website, blog, or portfolio with Astro.
	</p>
</Layout>

