---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
	<h1>Hello, World!</h1>
	<p>
		This website project serves as a comprehensive documentation,
		encompassing all the knowledge acquired through the study of Islam.
		It aims to provide a comprehensive resource for anyone seeking to explore 
		and understand the teachings and principles of Islam.
	</p>
</Layout>

