---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
	<div class="container mx-auto prose">
		<h1 class="m-0">Studying Islam.</h1>
		<blockquote class="text-sky-700">
			A learning project about Islam, aiming to provide a comprehensive
			resource for anyone seeking to explore and understand
			the teachings and principles of Islam.
		</blockquote>
		<figcaption>Seeking knowledge is obligatory upon every Muslim - Prophet Muhammad (pbuh).</figcaption>
	</div>
</Layout>

