---
import HeaderLink from './HeaderLink.astro';
import LangSelector	from './LangSelector.astro';
---

<header class="flex flex-row-reverse bg-gray-900">
	<LangSelector/>
	<div class="m-3">
		<nav class="text-slate-300">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/articles">Articles</HeaderLink>
		</nav>
	</div>
</header>
