---
import HeaderLink from './HeaderLink.astro';
---

<header class="flex flex-row-reverse">
	<nav>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
