---
import HeaderLink from './HeaderLink.astro';
---

<header class="flex flex-row-reverse m-4">
	<nav>
		<HeaderLink href="/articles">Articles</HeaderLink>
		<HeaderLink href="#">[i18n]</HeaderLink>
	</nav>
</header>
