---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}><slot /></a>

<style>
	a {
		padding: 7px 14px;
	}
	.active {
		font-weight: bold;
		border: 1px solid #4b5563;
    	border-radius: 8px;
		background-color: #000;
	}
</style>
