---
export interface Props {
	title?: string;
}
const { title } = Astro.props;
---

<section class="prose mt-6">
    <a href="/" class="no-underline">
        <h1 class="text-indigo-500">Studying Islam.</h1>
    </a>
    {title && <h2 class="my-4">{title}</h2>}
</section>
